<div class="col-md-3" id="system_form">
	<p><h4>Название системы</h4><p>
	<p><%= f.input :name, label: false %></p>
	<p><h4>Назначение</h4><p>
	<p><%= f.input :description, label: false%></p>
	<p><h4>Описание</h4><p>
	<p><%= f.input :details, as: :text, label: false %></p>
	<p><h4>Тип</h4><p>
	<p><%= f.input :system_type, :collection => SystemType.all, :value_method => :id,  include_blank: false, :selected => @system.system_type.id, label: false  %></p>
	<p><%= f.button :submit, 'Редактировать', html: { class: 'btn btn-default' } %>  </p>
</div>


